@import "tailwindcss";

@theme{
  --font-roboto: 'Roboto', sans-serif;
  --color-textprimary: #000000;
  --color-textsecondary: #FFFFFF;
  --color-backgroundcomponents: #24398A;
  --color-background: #F5F5F5;
}


